@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*Reset default values*/
html {
    font-size: 62.5%; /*Reset for REMS - 62.5% = 10px to 16px*/
}
body {
    padding: 0;
    margin: 0;
    line-height: 1.875rem;
    color: var(--imb-black);
    font-size: var(--imb-size-16);
    font-family: var(--primary-font);
    background-color: var(--imb-white);
}
body::-webkit-scrollbar{
    -webkit-appearance: none;
}
body::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    background-color: var(--imb-gray);
    border: .0875rem solid var(--imb-white);
}
body::-webkit-scrollbar-track{
    border-radius: 1rem;
}
body::-webkit-scrollbar:vertical{
    width: 1rem;
}
body::-webkit-scrollbar:horizontal{
    height: 1rem;
}
body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button{
    display: none;
}
/*END Reset default values*/

/*GLOBAL VARIABLES*/
:root {
    /*BLUE SCALE*/
    --imb-blue: #0F2554;
    --imb-blue-1000: #222935;
    --imb-blue-900: #202A3C;
    --imb-blue-800: #1E2A43;
    --imb-blue-700: #1C2A4B;
    --imb-blue-600: #2C3B61;
    --imb-blue-500: #3F4D70;
    --imb-blue-400: #535F7E;
    --imb-blue-300: #66708C;
    --imb-blue-200: #79829B;
    --imb-blue-100: #8C94A9;
    /*END BLUE SCALE*/

    /*YELLOW SCALE*/
    --imb-yellow: #FFCC00;
    --imb-yellow-1000: #E6BD1A;
    --imb-yellow-900: #ECC113;
    --imb-yellow-800: #F2C40D;
    --imb-yellow-700: #F9C806;
    --imb-yellow-600: #FFCF11;
    --imb-yellow-500: #FFD322;
    --imb-yellow-400: #FFD633;
    --imb-yellow-300: #FFDA44;
    --imb-yellow-200: #FFDD55;
    --imb-yellow-100: #FFE066;
    /*END YELLOW SCALE*/

    /*RED SCALE*/
    --imb-red: #FD0000;
    --imb-red-1000: #650000;
    --imb-red-900: #8B0000;
    --imb-red-800: #B10000;
    --imb-red-700: #D70000;
    --imb-red-600: #FF1515;
    --imb-red-500: #FF2B2B;
    --imb-red-400: #FF4040;
    --imb-red-300: #FF5555;
    --imb-red-200: #FF6A6A;
    --imb-red-100: #FF8080;
    /*END RED SCALE*/

    /*GRAYSCALE*/
    --imb-gray: #9CA1A4;
    --imb-gray-1000: #484848;
    --imb-gray-900: #5F6061;
    --imb-gray-800: #76797A;
    --imb-gray-700: #8c9194;
    --imb-gray-600: #ACB0B3;
    --imb-gray-500: #BCC0C2;
    --imb-gray-400: #CCD0D2;
    --imb-gray-300: #DDDFE1;
    --imb-gray-200: #EDEFEF;
    --imb-gray-100: #FEFEFE;
    /*END GRAYSCALE*/

    /*SOCIAL MEDIA COLORS*/
    --imb-twitter: #00aced;
    --imb-facebook: #3b5998;
    --imb-linkedin: #0a66c2;
    --imb-whatsapp: #0b846d;
    --imb-instagram: #d10869;
    --imb-dribble: #ea4c89;
    /*END SOCIAL MEDIA COLORS*/

    /*FONT TEXT*/
    --primary-font: 'Kumbh Sans', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    /*END FONT TEXT*/

    /*TEXT GRAYSCALE*/
    --imb-white: #FFFFFF;
    --imb-black: #000000;
    --imb-black-900: #191919;
    --imb-black-800: #333333;
    --imb-black-700: #4C4C4C;
    --imb-black-600: #656565;
    --imb-black-500: #7E7E7E;
    --imb-black-400: #989898;
    --imb-black-300: #B1B1B1;
    --imb-black-200: #CACACA;
    --imb-black-100: #E3E3E3;
    --imb-black-000: #FCFCFC;
    /*END TEXT GRAYSCALE*/

    /*TEXT SIZE*/
    --imb-size-12: 1.2rem;
    --imb-size-14: 1.4rem;
    --imb-size-16: 1.6rem;
    --imb-size-18: 1.8rem;
    --imb-size-20: 2rem;
    --imb-size-22: 2.2rem;
    --imb-size-24: 2.4rem;
    --imb-size-26: 2.6rem;
    --imb-size-28: 2.8rem;
    --imb-size-30: 3rem;
    --imb-size-32: 3.2rem;
    --imb-size-34: 3.4rem;
    --imb-size-36: 3.6rem;
    --imb-size-38: 3.8rem;
    --imb-size-40: 4rem;
    --imb-size-42: 4.2rem;
    --imb-size-44: 4.4rem;
    --imb-size-46: 4.6rem;
    --imb-size-48: 4.8rem;
    --imb-size-50: 5rem;
    --imb-size-52: 5.2rem;
    --imb-size-54: 5.4rem;
    --imb-size-56: 5.6rem;
    --imb-size-58: 5.8rem;
    --imb-size-60: 6rem;
    /*END TEXT SIZE*/

    /*TEXT WEIGHT*/
    --imb-weight-100: 100;
    --imb-weight-300: 300;
    --imb-weight-500: 500;
    --imb-weight-700: 700;
    --imb-weight-900: 900;
    /*END TEXT WEIGHT*/

    /*LETTER SPACING*/
    --imb-letter-spacing: .375rem;
    --imb-letter-spacing-nav: .275rem;
    /*END LETTER SPACING*/

    /*BORDER RADIUS*/
    --imb-border-radius: .875rem;
    /*END BORDER RADIUS*/
}
/*END GLOBAL VARIABLES*/

/*DEFAULT TAG PROPERTIES*/
a {
    text-decoration: none;
}
.material-icons {
    font-size: var(--imb-size-30);
}
h1 {
    margin: 0;
    line-height: 2;
    font-size: var(--imb-size-56);
    font-weight: var(--imb-weight-700);
    letter-spacing: var(--imb-letter-spacing);
}
h2 {
    margin: 0;
    line-height: 2;
    font-size: var(--imb-size-46);
    font-weight: var(--imb-weight-700);
    letter-spacing: var(--imb-letter-spacing);
}
h3 {
    margin: 0;
    line-height: 2;
    font-size: var(--imb-size-36);
    font-weight: var(--imb-weight-700);
    letter-spacing: var(--imb-letter-spacing);
}
h4 {
    margin: 0;
    line-height: 2;
    font-size: var(--imb-size-26);
    font-weight: var(--imb-weight-700);
    letter-spacing: var(--imb-letter-spacing);
}
h5 {
    margin: 0;
    line-height: 2;
    font-size: var(--imb-size-20);
    font-weight: var(--imb-weight-700);
    letter-spacing: var(--imb-letter-spacing);
}
h6 {
    margin: 0;
    line-height: 2;
    font-size: var(--imb-size-16);
    font-weight: var(--imb-weight-700);
    letter-spacing: var(--imb-letter-spacing);
}
p {
    margin: 0;
    line-height: 2;
    font-size: var(--imb-size-14);
    font-weight: var(--imb-weight-300);
    letter-spacing: var(--imb-letter-spacing);
}
.vh-90 {
    height: 95vh;
}
input{
    background-color: #fbfbfb;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--imb-red);
    margin-top: 10px;
    padding-left: 1px;
    margin-bottom: 2px;
}
textarea{
    background-color: #fbfbfb;
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--imb-red);
    margin-top: 1px;
    padding-left: 10px;
    margin-bottom: 2px;
    padding-top: 1px;
}
label{
    display: block;
}
button{
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 2px;
    margin-top: 1px;
    text-transform: uppercase;
    background-color: #ab4493;
    border-color: #ab4493;
    border-style: solid;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    color: var(--imb-white);
}
button p{
    color: #fff;
}
span{
    color: #ab4493;
}
-webkit-input-placeholder {
    color: #a8a8a8;
}
-webkit-textarea-placeholder {
    color: #a8a8a8;
}
input:focus{
    outline:0;
    border: 1px solid #97d848!important;
}
textarea:focus{
    outline:0;
    border: 1px solid #97d848!important;
}
@media (min-width: 576px) {
    h1 {
        font-size: var(--imb-size-58);
    }
    h2 {
        font-size: var(--imb-size-48);
    }
    h3 {
        font-size: var(--imb-size-38);
    }
    h4 {
        font-size: var(--imb-size-28);
    }
    h5 {
        font-size: var(--imb-size-22);
    }
    h6 {
        font-size: var(--imb-size-18);
    }
    p {
        font-size: var(--imb-size-14);
    }
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
    h1 {
        font-size: var(--imb-size-60);
    }
    h2 {
        font-size: var(--imb-size-50);
    }
    h3 {
        font-size: var(--imb-size-40);
    }
    h4 {
        font-size: var(--imb-size-30);
    }
    h5 {
        font-size: var(--imb-size-24);
    }
    h6 {
        font-size: var(--imb-size-20);
    }
    p {
        font-size: var(--imb-size-16);
    }
}
@media (min-width: 1200px) {
    p {
        font-size: var(--imb-size-18);
    }
}
@media (min-width: 1400px) {
    p {
        line-height: 2;
        font-size: var(--imb-size-20);
    }
}
/*END DEFAULT TAG PROPERTIES*/

/*ANIMATIONS*/
.animation-top {
    position: relative;
    animation: animation-top 2s ease;
}
@keyframes animation-top {
    0% {
        opacity: 0;
        transform: translateY(15rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/*END ANIMATIONS*/

/*COLOR BACKGROUNDS*/
.imb-white-background {
    background-color: var(--imb-white);
}
.imb-blue-background {
    background-color: var(--imb-blue);
}
.imb-red-background {
    background-color: var(--imb-red);
}
.imb-gray-background {
    background-color: var(--imb-gray-200);
}
.imb-yellow-background {
    background-color: var(--imb-yellow);
}
/*END COLOR BACKGROUNDS*/

/*NAV CONTAINER*/
.imb-navbar {
    height: 6.5rem;
    box-shadow: 0 .2rem .8rem 0 rgba(0, 0, 0, .5), 0 .6rem 1.5rem 0 rgba(0, 0, 0, .2);
}
.imb-logo {
    margin: 0;
    padding: 0;
}
.imb-img-logo {
    width: 17.5rem;
    padding-left: .675rem;
}
.imb-nav-link {
    margin: 0;
    padding: .875rem;
    color: var(--imb-black-700);
    font-weight: var(--imb-weight-500);
    letter-spacing: var(--imb-letter-spacing-nav);
}
.imb-nav-link:hover {
    margin: 0;
    color: var(--imb-black);
    border-bottom: .3rem solid var(--imb-yellow);
}
.imb-nav-item {
    line-height: 2;
    padding: 1.5rem 0;
}
.imb-offcanvas {
    width: 28rem;
}
.imb-offcanvas-header {
    height: 6.5rem;
    padding: .875rem 1rem;
}
.imb-offcanvas-logo {
    width: 17.5rem;
    padding-left: 0;
}
.hamburger {
    color: var(--imb-black-700);
}
.hamburger:hover {
    cursor: pointer;
    color: var(--imb-black);
}
.imb-toggle-hamburger {
    border: transparent;
}
.imb-toggle-hamburger:focus {
    box-shadow: none;
}
.imb-offcanvas-header .imb-btn-close {
    padding: .5rem 1rem;
}
.imb-offcanvas-body {
    background-color: var(--imb-gray-200);
}
.imb-nav-item .imb-nav-link {
    padding-left: 0;
}
.imb-nav-item .imb-nav-link:hover {
    color: var(--imb-black);
    border-bottom: .3rem solid var(--imb-yellow);
}

@media (min-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}
/*END NAV CONTAINER*/

/*BANNER CONTAINER*/
.imb-banner-background {
    height: 90vh;
    background: url("../images/hospital-moscati-background.jpeg") no-repeat top center;
    background-size: cover;
}
.imb-banner-tittle {
    margin: 0 1rem;
    line-height: 1.4;
    text-align: center;
    padding: 2rem .875rem;
    color: var(--imb-white);
    background: rgba(0,0,0,.6);
    font-size: var(--imb-size-26);
    border-radius: var(--imb-border-radius);
}
@media (min-width: 576px) {
    .imb-banner-tittle {
        font-size: var(--imb-size-30);
    }
}
@media (min-width: 768px) {
    .imb-banner-tittle {
        margin: 0 1rem;
        font-size: var(--imb-size-34);
    }
}
@media (min-width: 992px) {
    .imb-banner-tittle {
        font-size: var(--imb-size-38);
    }
}
@media (min-width: 1200px) {
    .imb-banner-tittle {
        font-size: var(--imb-size-42);
    }
}
@media (min-width: 1400px) {
    .imb-banner-tittle {
        font-size: var(--imb-size-50);
    }
}
/*BANNER CONTAINER*/

/*MISSION CONTAINER*/
.imb-mission-container {
    padding: 6.5rem 1rem 1rem 1rem;
}
.imb-mission-img-container {
    padding: 0;
}
.imb-mission-text-container {
    padding: 0;
}
.imb-mission-img {
    margin: 0;
    width: 100%;
    border-radius: var(--imb-border-radius);
}
.imb-mission-title {
    margin: 0;
    text-align: center;
    color: var(--imb-white);
}
.imb-mission-text {
    margin: 1rem 0;
    text-align: justify;
    color: var(--imb-white);
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {
    .imb-mission-img-container {
        padding: 0 1rem 0 0;
    }
    .imb-mission-text-container {
        padding: 0 0 0 1rem;
    }
}
@media (min-width: 992px) {
    .imb-mission-container {
        padding: 6.5rem 1.5rem 1.5rem 1.5rem;
    }
    .imb-mission-img-container {
        padding: 0 1.5rem 0 0;
    }
    .imb-mission-text-container {
        padding: 0 0 0 1.5rem;
    }
}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}
/*END MISSION CONTAINER*/

/*VISION CONTAINER*/
.imb-vision-container {
    padding: 6.5rem 1rem 1rem 1rem;
}
.imb-vision-img-container {
    padding: 0;
}
.imb-vision-text-container {
    padding: 0;
}
.imb-vision-img {
    margin: 0;
    width: 100%;
    border-radius: var(--imb-border-radius);
}
.imb-vision-title {
    margin: 0;
    text-align: center;
    color: var(--imb-black-700);
}
.imb-vision-text {
    margin: 1rem 0;
    text-align: justify;
    color: var(--imb-black-700);
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {
    .imb-vision-img-container {
        padding: 0 0 0 1rem;
    }
    .imb-vision-text-container {
        padding: 0 1rem 0 0 ;
    }
}
@media (min-width: 992px) {
    .imb-vision-container {
        padding: 6.5rem 1.5rem 1.5rem 1.5rem;
    }
    .imb-vision-img-container {
        padding: 0 0 0 1.5rem;
    }
    .imb-vision-text-container {
        padding: 0 1.5rem 0 0;
    }
}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}
/*END VISION CONTAINER*/

/*COLLABORATORS CONTAINER*/
.imb-collaborators-container {
    padding: 6.5rem 0 0 0;
}
.imb-collaborators-margin {
    margin: -10rem 0 0 0;
}
.imb-collaborators-background {
    background: url("../images/collaborators_2.jpeg") no-repeat center;
    background-size: contain;
    background-color: var(--imb-blue)!important;
}
.imb-collaborators-img {
    width: 100%;
}
.imb-collaborators-text {
    line-height: 1.5;
    padding: .875rem;
    text-align: center;
    background: rgba(0,0,0,.6);
    color: var(--imb-white);
    font-size: var(--imb-size-30);
    font-weight: var(--imb-weight-700);
    letter-spacing: var(--imb-letter-spacing);
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}
/*END COLLABORATORS CONTAINER*/

/*DIVISION LOGOS*/
.imb-division-title {
    line-height: 2;
    text-align: center;
    margin: 0;
    color: var(--imb-white);
    font-size: var(--imb-size-40);
    font-weight: var(--imb-weight-700);
    letter-spacing: var(--imb-letter-spacing);
}
.imb-grid {
    display: grid;
    grid-gap: 1.5rem;
    padding: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.imb-grid > .imb-grid-logo {
    padding: 1rem;
    background: var(--imb-gray-200);
    border-radius: var(--imb-border-radius);
}
.imb-grid >.imb-grid-logo::before {
    content: "";
    display: block;
    padding-bottom: 0;
}
.imb-grid >.imb-grid-logo {
    display: grid;
}
.imb-grid > .imb-grid-logo::before,
.imb-grid > .imb-grid-logo > img {
    grid-area: 1 / 1 / 2 / 2;
}
.imb-grid > .imb-grid-logo > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media (min-width: 576px) {
    .imb-grid {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
    .imb-grid {
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    }
}
@media (min-width: 1200px) {
    .imb-grid {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
}
@media (min-width: 1400px) {
    .imb-grid {
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    }
}
/*END DIVISION LOGOS*/

/*CONTACT CONTAINER*/
.imb-crane-video-container {
    margin-top: 5rem;
}
.imb-crane-video {
    width: 90%;
    padding: 0;
    border-radius: 2.75rem!important;
}
.imb-contact-title {
    line-height: 1.5;
    text-align: center;
    margin: 0 0 3rem 0;
    color: var(--imb-black-700);
    font-weight: var(--imb-weight-700);
    letter-spacing: var(--imb-letter-spacing);
}
.imb-contact-subtitle {
    line-height: 1.5;
    text-align: center;
    margin: 0 0 3rem 0;
    color: var(--imb-black-700);
    font-weight: var(--imb-weight-700);
    letter-spacing: var(--imb-letter-spacing);
}
.imb-contact-text {
    line-height: 1.8;
    text-align: justify;
    margin: 0 0 2.5rem 0;
    color: var(--imb-black-700);
    font-size: var(--imb-size-18);
    font-weight: var(--imb-weight-300);
    letter-spacing: var(--imb-letter-spacing);
}
/*END CONTACT CONTAINER*/

/*FOOTER*/
.site-footer {
    background-color: var(--imb-blue);
    padding: .875rem 0;
    font-size: var(--imb-size-14);
    line-height: 2;
    color: var(--imb-white);
}
.site-footer hr {
    margin: 1rem 0;
    border-top-color: var(--imb-white);
    border-top-width: .2rem;
    opacity: 1;
}
.site-footer h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    letter-spacing: .5rem;
    color: var(--imb-white);
    text-transform: uppercase;
    font-size: var(--imb-size-16);
    font-weight: var(--imb-weight-700);
    border-bottom: .2rem solid var(--imb-white);
}
.site-footer a {
    color: var(--imb-white);
}
.footer-links {
    padding-left: 0;
    list-style: none;
}
.footer-links li {
    display: block;
}
.footer-links a {
    color: var(--imb-white);
    font-weight: var(--imb-weight-500);
    font-size: var(--imb-size-14);
    letter-spacing: .0875rem;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: var(--imb-blue-100);
    text-decoration: none;
    padding-left: .525rem;
    transition: .5s;
    letter-spacing: .075rem;
}
.copyright-text {
    margin: .875rem 0;
    padding: 0 .5rem;
    font-size: var(--imb-size-14);
    letter-spacing: .0875rem;
}
.footer-link {
    display: block;
    padding: .875rem 0; /*top bottom - right left*/
    line-height: 1;
    font-size: var(--imb-size-14);
    font-weight: var(--imb-weight-100);
}
.footer-expand-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-expand-link::after {
    content: "chevron_right";
    flex: 0 1 auto;
    font-family: "Material Icons", serif;
}
.social-icons {
    margin: auto 0;
    padding-left: 0;
    list-style: none;
}
.social-icons li {
    display: inline-block;
}
.social-icons li.title {
    color: var(--imb-white);
    text-transform: uppercase;
    font-size: var(--imb-size-12);
    font-weight: var(--imb-weight-500);
}
.social-icons a {
    width: 3.4rem;
    height: 3.4rem;
    margin: 0 .4rem;
    text-align: center;
    line-height: 3.4rem;
    border-radius: 100%;
    display: inline-block;
    color: var(--bs-white);
    font-size: var(--imb-size-16);
    background-color: var(--imb-blue);
    transition: all .2s linear;
    -o-transition: all .2s linear;
    -webkit-transition: all .2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: var(--bs-white);
}
.social-icons.size-sm a {
    width: 3.4rem;
    height: 3.4rem;
    line-height: 3.4rem;
    font-size: var(--imb-size-14);
}
.social-icons a.facebook:hover {
    background-color: var(--imb-facebook);
}
.social-icons a.twitter:hover {
    background-color: var(--imb-twitter);
}
.social-icons a.instagram:hover {
    background-color: var(--imb-instagram);
}
@media (max-width: 768px) {
    .social-icons li.title {
        display: block;
        font-weight: var(--imb-weight-300);
    }
}
@media (min-width: 1200px) {
    .social-icons a {
        width: 4.4rem;
        height: 4.4rem;
        line-height: 4.4rem;
    }
}
/*END FOOTER*/

/*MAPS*/
.map-responsive {
    height:0;
    margin: 0 0 1rem 0;
    overflow:hidden;
    position:relative;
    padding-bottom: 15rem;
    border-radius: 1.2rem;
}
.map-responsive iframe{
    top:0;
    left:0;
    border: 0;
    width:100%;
    height:100%;
    position:absolute;
}
/*END MAPS*/